<div class="container">
	<div class="container" style="margin-top:1.14rem;">
		<div class="row">
		    <div class="col s12">
		        <ul tabs reload="allTabContentLoaded">
		            <li class="tab col s6"><a ng-click="controls.nTab = 1" href>Meetings</a></li>
		            <li class="tab col s6"><a ng-click="controls.nTab = 2" href>Create</a></li>
		        </ul>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
		  <input placeholder="Search for people" ng-change="query(controls.query)" ng-model="controls.query" id="search_for_people" type="text" class="validate">
		  <label for="search_for_people"></label>
		</div>
    </div>
    <ul ng-if="controls.nTab == 1" class="collapsible popout" data-collapsible="accordion" watch>
	    <li ng-repeat="user in controls.friends">
	      <div class="collapsible-header">
	      	<i class="material-icons">person</i>
			<div class="full-width">
				{{user.email}}
			</div>
	      </div>
	      <div class="collapsible-body">
	      	<div style="width:100%; display:inline-block;">
				<div>
					Name: {{user.name}}
				</div>
		      	<div style="float:right;" class="full-width">
					<div>
						<a class="waves-effect waves-light btn full-width bgc-dark-red" ng-click="removeFriend(user)">Unfriend</a>
					</div>
				</div>
			</div>
	      </div>
	    </li>
  	</ul>
  	<div ng-if="controls.nTab == 2">
  		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" ng-model="controls.user.email" class="validate">
					<label for="email">Email</label>
				</div>
			</div>


			<label for="date">Date</label>
			<input input-date
			type="text"
			name="date"
			id="date"
			ng-model="controls.newMeeting.date"
			container=""
			format="dd/mm/yyyy"
			months-full="{{ month }}"
			months-short="{{ monthShort }}"
			weekdays-full="{{ weekdaysFull }}"
			weekdays-short="{{ weekdaysShort }}"
			weekdays-letter="{{ weekdaysLetter }}"
			disable="disable"
			min="{{ minDate }}"
			max="{{ maxDate }}"
			today="today"
			first-day="1"
			clear="clear"
			close="close"
			select-years="15"
			on-start="onStart()"
			on-render="onRender()"
			on-open="onOpen()"
			on-close="onClose()"
			on-set="onSet()"
			on-stop="onStop()" />

			<label for="input_starttime">Time</label>
			<input id="input_starttime" input-clock data-twelvehour="false" type="text">

		</form>
  	</div>
</div>
