<div class="container">
	<h4 style="color:#448aff !important;">Places near me</h4></br>
	<div class="row">
		<div class="input-field col s12">
		  <input placeholder="Search for a place by name" ng-change="nearbySearch(controls.query)" ng-model="controls.query" id="search_for_a_place" type="text" class="validate">
		  <label for="search_for_a_place"></label>
		</div>
    </div>
    <div class="row">
    	<div class="input-field col s6">
			<div input-field>
			    <select class="" ng-model="controls.selectedPlaceTypes" material-select multiple watch>
			        <option ng-repeat="value in controls.placeTypes">{{value}}</option>
			    </select>
			</div>
		</div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion" watch>
	    <li ng-repeat="venue in controls.venues">
	      <div class="collapsible-header">
	      		<i class="material-icons"><img src="{{venue.icon}}" style="width:20px;"></i>
		      	<div><p>{{venue.name}}</p></div>
		      	<!--
		      	<div ng-if="venue.rating" style="position:relative; right:0;">
					<div ng-repeat="star in initArr(venue.rating)" style="float:left;">
						<i class="material-icons left" style="color:#ffc107; margin:0px;">star</i>
					</div>
				</div>
				-->
	      </div>
	      <div class="collapsible-body">
	      	<div ng-if="venue.photos[0].raw_reference">
	      		<img src="{{venue.photos[0].raw_reference.fife_url}}" style="width:20px;">
	      	</div>
	      	<div style="width:100%; display:inline-block;">
		      	<div class="full-width" style="display:inline-block;">
		      		<div ng-if="venue.rating" style="position:relative; right:0;">
		      			<p class="left">Rating:</p>
		      			<div>
			      			<div ng-repeat="star in initArr(venue.rating)" style="float:left;">
								<i class="material-icons left" style="color:#ffc107; margin:0px;">star</i>
							</div>
						</div>
						</br>
					</div>
			      	<p class="left" style="position:absolute;">Availability: {{!!venue.opening_hours.open_now ? 'open' : 'closed'}}</p></br>
		      		<p class="left">Vicinity: {{venue.vicinity}}</p></br>
				</div>
				<div style="float:right;" class="full-width">
					<div>
						<a class="waves-effect waves-light btn full-width bgc-blue" style="margin:10px 0px 10px 0px;"ng-click="getDirections(venue)">Get Directions</a>
					</div>
					<div>
						<a class="waves-effect waves-light btn full-width bgc-dark-red" ng-click="getDirections(venue)">Create a meeting</a>
					</div>
				</div>
			</div>
	      </div>
	    </li>
  	</ul>
	<script>
		$(document).ready(function(){
			$('.collapsible').collapsible();
		});
	</script>
</div>
    